{% extends 'oboroninform/base.html' %}

{% block bottom %}
  <div id="bottom">
      <div class="container">
        <div class="row">
            <div class="footer-block col-sm-6">
                <div class="region region-footer-first">
                    <div id="block-block-6" class="block block-block">
                      <h2>Присоединяйтесь</h2>
                      <div class="content">
                        <p><a href="https://www.youtube.com/channel/UCIhRqCcrPenHGtuuUgXPhjA" target="_blank"><img src="media/ytwhite.png" alt="Оборонинформ YouTube" title="Оборонинформ YouTube" width="54" height="40"></a>&nbsp;&nbsp;<a href="https://www.instagram.com/oboroninform/"><img src="media/instawhite.png" alt="Оборонинформ Instagram" title="Оборонинформ Instagram" width="40" height="40"></a>&nbsp;&nbsp;<a href="https://www.facebook.com/oboroninform" target="_blank"><img src="media/fbwhite.png" alt="Оборонинформ Facebook" title="Оборонинформ Facebook" width="40" height="40"></a>&nbsp;&nbsp;<a href="https://vk.com/oboroninform" target="_blank"><img src="media/vkwhite.png" alt="Оборонинформ Вконтакте" title="Оборонинформ Вконтакте" width="40" height="40"></a></p>
                      </div>
                      </div> <!-- /.block -->
                  </div>
                    <!-- /.region -->
              </div>
              <div class="footer-block col-sm-6">
                <div class="region region-footer-fourth">
                  <div id="block-block-8" class="block block-block">
                    <div class="content">
                      <p><a href="personal-information-politics.htm">Политика обработки и защиты персональных данных</a></p>
                    </div>
                  </div> <!-- /.block -->
                </div><!-- /.region -->
              </div>
        </div>
      </div>
    </div>
    <footer id="colophon" class="site-footer" role="contentinfo">
      <div class="container">
        <div class="row">
          <div class="fcred col-sm-12">
            Авторские права © 2018, <a href="oboroninform.htm">Оборонинформ - центр информационной безопасности, корпоративная защита информации</a>.
          </div>
        </div>
      </div>
    </footer>
{% endblock %}
