{% extends 'oboroninform/base.html' %}

{% block head %}
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="description" content="Оборонинформ это компания профессионалов, оказывающая услуги по защите персональных данных, настройке коммерческой тайны, аудиту информационной безопасности. Доступная информационная безопасность для всех. Контакты. Услуги. Решения. Санкт-Петербург">
  <meta name="keywords" content="пдн, защита, персональные данные, информация, безопасность, оборонинформ">
  <meta name="news_keywords" content="защита, персональные данные, информация, безопасноть, IT, аудит">
  <title>Оборонинформ - центр защиты информации, защита персональных данных, IT аутсорс</title>
  <!-- CSS -->
  <link rel="stylesheet" href="{% static "css/first.css" %}"/>
  <link rel="stylesheet" href="{% static "css/second.css" %}"/>
  <link rel="stylesheet" href="{% static "css/third.css" %}"/>
  <link rel="stylesheet" href="{% static "css/fourth.css" %}"/>
  <!-- JS -->
  <script src="{% static "js/watch.js" %}" async=""></script>
  <script src="{% static "js/uno.js" %}"></script>
  <script src="{% static "js/des.js" %}"></script>
  <script src="{% static "js/tres.js" %}"></script>
{% endblock %}
