<!DOCTYPE html>
{% load staticfiles %}

<html>

  <head>
    <title>Оборонинформ - центр защиты информации, защита персональных данных, IT аутсорс</title>
    <!-- CSS -->
    <link rel="stylesheet" href="{% static "css/first.css" %}"/>
    <link rel="stylesheet" href="{% static "css/second.css" %}"/>
    <link rel="stylesheet" href="{% static "css/third.css" %}"/>
    <link rel="stylesheet" href="{% static "css/fourth.css" %}"/>
    <!-- JS -->
    <script src="{% static "js/uno.js" %}"></script>
    <script src="{% static "js/des.js" %}"></script>
    <script src="{% static "js/tres.js" %}"></script>
    <script src="{% static "js/watch.js" %}"></script>
  </head>

  <body>
    <p>{% lorem %}</p>
  </body>

</html>
