{% extends 'oboroninform/base.html' %}

{% block top %}
<header id="masthead" class="site-header container" role="banner">
  <div class="row">
    <div id="logo" class="site-branding col-sm-6">
      <div id="site-logo">
          <a href="oboroninform.htm" title="Главная">
            <img src="{% static "images/logo_0.png" %}" alt="Главная">
          </a>
      </div>
      <!--div id="site-title">
      <a href="/" title="Главная">Оборонинформ - центр информационной безопасности, корпоративная защита информации</a>
      </div-->
    </div>
    <div class="col-sm-6 mainmenu">
      <div class="mobilenavi"></div>
      <nav id="navigation" role="navigation">
        <div id="main-menu">
          <ul class="menu sf-js-enabled sf-shadow"><li class="first leaf active-trail"><a href="oboroninform.htm" title="" class="active-trail active">Главная</a></li>
            <li class="leaf"><a href="services.htm" title="">Услуги</a></li>
            <li class="leaf"><a href="opportunities.htm" title="">Решения</a></li>
            <li class="leaf"><a href="news.htm" title="">Новости</a></li>
            <li class="leaf"><a href="articles.htm" title="">Статьи</a></li>
            <li class="leaf"><a href="licenses-and-certs.htm">Лицензии и сертификаты</a></li>
            <li class="leaf"><a href="partners.htm" title="">Партнёры</a></li>
            <li class="last leaf"><a href="contacts.htm">Контакты</a></li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</header>
{% endblock %}
